body{
    font-family: monospace;
    color: #fff;
    background-color: black;
    background-image: url('../imagens/MicrosoftTeams-image\ \(2\).png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100vh;
    min-height: 400px;
}

.container{
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.titulo{
    margin: 0 0 5px 5px;
}

.subtitulo{
    margin-top: 5px;
}